header {
    display: flex;
    justify-content: space-between;
    height: 70%;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(70deg,#983fe1 0%,#58ddd3 100%)!important;
}
.logo {
    display: flex;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: white;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: beige;
}
/*------------------------servicios---------------------*/

.servicio{
padding: 50px 0px;
}
.principal-servicios{
color: #424141;
font-size: 35px;
}
.texto-negro{
    color: #f94f2b;
}
.centrar-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -50px;
}

.centrar-parqueaderos{
    width: 45%;
    height: 150px;
    position: absolute;
    padding: 20px;
    border: 1px solid #c1c1c1;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 7px;
    margin-bottom: 25px;
}
.centrar-visitantes{
    width: 45%;
    height: 150px;
    position: relative;
    padding: 20px;
    border: 1px solid #c1c1c1;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 7px;
    margin-bottom: 25px;
}
.centrar-vehiculos{
    width: 45%;
    height: 150px;
    position: relative;
    padding: 20px;
    border: 1px solid #c1c1c1;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 7px;
    margin-bottom: 25px;
}
.centrar-residentes{
    width: 45%;
    height: 150px;
    position: relative;
    padding: 20px;
    border: 1px solid #c1c1c1;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 7px;
    margin-bottom: 25px;
}
